/* SCSS Document */
/* Variables SCSS PUTO TERRIBLE*/
@font-face {
  font-family: 'banksiaregular';
  src: url("../fonts/banksia-webfont.eot");
  src: url("../fonts/banksia-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/banksia-webfont.woff") format("woff"), url("../fonts/banksia-webfont.ttf") format("truetype"), url("../fonts/banksia-webfont.svg#banksiaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ImpactLabelReversedRegular';
  src: url("../fonts/Impact_Label_Reversed-webfont.eot");
  src: url("../fonts/Impact_Label_Reversed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Impact_Label_Reversed-webfont.woff") format("woff"), url("../fonts/Impact_Label_Reversed-webfont.ttf") format("truetype"), url("../fonts/Impact_Label_Reversed-webfont.svg#ImpactLabelReversedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 29, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
html {
  font-size: 62.5%;
}

/* line 31, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
html body {
  background: black url("../img/bg.jpg") fixed;
  color: white;
  font-family: "banksiaregular";
  font-size: 1.6rem;
}

/* line 39, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ImpactLabelReversedRegular";
}

/* line 42, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
h2 {
  font-size: 3rem;
  background: url("../img/bg-h2.png") left bottom no-repeat black;
}

/* line 47, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
h3 {
  font-size: 2.6rem;
  line-height: 2.8rem;
  background-color: black;
  border-bottom: 3px solid #983a3a;
}

/* Pisando estilos Boostrap */
/* line 54, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.bg-dark {
  background-color: black !important;
}

/* line 58, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.nav-link {
  color: white;
}

/* line 62, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.nav-link:hover, nav ul li a:hover {
  border-bottom: 3px solid red !important;
  color: white;
}

/* line 67, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.active {
  color: red !important;
  border-color: red !important;
}

/* Buscador del header */
/* line 73, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
#Buscar input[type='search'] {
  width: 150px;
  height: 30px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 1px 1px 1px inset black;
  margin-right: 10px;
  transition: width 1s;
}

/* line 81, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
#Buscar input[type='search']:hover {
  width: 200px;
}

/* line 86, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
#Buscar button[type='submit'] {
  width: 80px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  background: red;
  color: white;
  font-weight: 600;
  transition: background 1s;
}

/* line 95, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
#Buscar button[type='submit']:hover {
  background: #790707;
}

/* Cerrando Buscador del header */
/* line 104, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
figure img {
  width: 100%;
  height: auto;
}

/* line 108, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
figure h1 {
  width: 460px;
  height: 40px;
  line-height: 40px;
  bottom: 80px;
  font-family: "banksiaregular";
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  -moz-text-shadow: 1px 1px 1px black;
  -ms-text-shadow: 1px 1px 1px black;
  -o-text-shadow: 1px 1px 1px black;
}

/* line 123, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
main section, main aside {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 127, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
main section article {
  padding-bottom: 70px;
  background: url("../img/separador.png") center bottom no-repeat;
}

/* line 132, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
section article img {
  width: 100%;
  height: auto;
}

/* line 137, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
aside div.asideSection iframe {
  width: 95%;
  height: auto;
  aspect-ratio: 16/9;
}

/* line 142, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
section article p {
  margin: 1rem 0px;
}

/* line 146, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
section article p + p {
  color: yellow;
  margin: 1rem 0px;
}

/* line 151, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
section article p + a {
  width: 150px;
  line-height: 1.9rem;
  color: white;
  text-decoration: none;
  background: url(../img/bg-vermas.png);
  display: block;
  padding-left: 10px;
  transition: padding-left 1s;
}

/* line 160, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
section article p + a:hover {
  padding-left: 20px;
  color: white;
}

/* line 166, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
aside ul {
  list-style: none;
}

/* line 169, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.list-group-item-action {
  text-align: right;
  transition: padding 1s;
}

/* line 172, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.list-group-item-action:hover {
  padding-right: 25%;
  color: yellow !important;
}

/* line 178, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.list-group-item-dark {
  color: white !important;
  background-color: black !important;
}

/* line 183, ../../../../../../../../../../../../../Applications/MAMP/htdocs/Boostrap100/sass/estilo.scss */
.list-group-item {
  border-bottom: 1px dotted white;
}

/*# sourceMappingURL=estilo.css.map */